@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#fonts {
    height: 100%;
}

.box-decoration-clone {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.fade-slide-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideUp 0.7s ease-out forwards;
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 3s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
}

.fade-in-slow {
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
