@tailwind base;
@tailwind components;
@tailwind utilities;

@config "../../tailwind.config.mjs";

@import url('../modules/core/css/shadcn.css');
@import url('../modules/core/css/utils.css');
@import url('../modules/core/css/animations.css');

:root {
    --end-opacity: 1;
}

html,
body,
#fonts {
    height: 100%;
}

s {
    font-style: italic;
    text-decoration-thickness: 3px;
    text-decoration-color: rgba(0 0 0 / 0.5);
}

#tsparticles {
    pointer-events: none;
}



@layer base {}
