@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-text-fill-stroke';

@layer base {
    html,
    body,
    #fonts {
        height: 100%;
    }

    s {
        font-style: italic;
        text-decoration-thickness: 3px;
        text-decoration-color: rgba(0 0 0 / 0.5);
    }

    #tsparticles {
        pointer-events: none;
    }
}

@import '../modules/core/css/shadcn.css';
@import '../modules/core/css/utils.css';
@import '../modules/core/css/animations.css';
