@theme {
    --animate-toast-in: toast-in 0.3s ease-in forwards;
    @keyframes toast-in {
        0% {
            opacity: 0;
            transform: translateY(3rem);
            width: 3rem;
        }

        15% {
            opacity: 1;
            transform: translateY(0);
            width: 3rem;
        }

        100% {
            width: auto;
        }
    }
}

@theme {
    --animate-toast-out: toast-out 0.3s ease-out forwards;
    @keyframes toast-out {
        0% {
            opacity: 1;
            transform: scale(1);
            width: auto;
        }

        85% {
            opacity: 1;
            transform: scale(1);
            width: 3rem;
        }

        100% {
            opacity: 0;
            transform: scale(0);
        }
    }
}

@theme {
    --thunder-on: --alpha(var(--color-sky-900) / 30%);
    --thunder-off: var(--color-sky-50);
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;

    @keyframes caret-blink {
        0%,
        70%,
        100% {
            opacity: 1;
        }
        20%,
        50% {
            opacity: 0;
        }
    }
}

@theme {
    --thunder-on: --alpha(var(--color-sky-900) / 30%);
    --thunder-off: var(--color-sky-50);
    --animate-thunder: thunder 6s infinite;

    @keyframes thunder {
        0% {
            background-color: var(--thunder-on);
        }
        9% {
            background-color: var(--thunder-on);
        }
        10% {
            background-color: var(--thunder-off);
        }
        10.5% {
            background-color: var(--thunder-on);
        }
        80% {
            background-color: var(--thunder-on);
        }
        82% {
            background-color: var(--thunder-off);
        }
        83% {
            background-color: var(--thunder-on);
        }
        83.5% {
            background-color: var(--thunder-off);
        }
        100% {
            background-color: var(--thunder-on);
        }
    }
}
