@utility anim-opacity-out-* {
    --anim-opacity-in: 1;
    --anim-opacity-in: calc(--value(integer) * 1%);
    --anim-opacity-in: --value(--opacity- *, [percentage]);
}

@utility anim-opacity-in-* {
    --anim-opacity-out: 0;
    --anim-opacity-out: calc(--value(integer) * 1%);
    --anim-opacity-out: --value(--opacity- *, [percentage]);
}

@theme {
    --animate-fade-slide-up: fadeSlideUp 0.7s ease-out forwards;
    @keyframes fadeSlideUp {
        0% {
            opacity: var(--anim-opacity-out);
            transform: translateY(20px);
        }
        100% {
            opacity: var(--anim-opacity-in);
            transform: translateY(0);
        }
    }
}

@theme {
    --animate-toast-in: toastin 0.3s ease-in forwards;
    @keyframes toastIn {
        0% {
            opacity: 0;
            transform: translateY(3rem);
            width: 3rem;
        }

        15% {
            opacity: 1;
            transform: translateY(0);
            width: 3rem;
        }

        100% {
            width: auto;
        }
    }
}

@theme {
    --animate-toast-out: toastOut 0.3s ease-out forwards;
    @keyframes toastOut {
        0% {
            opacity: 1;
            transform: scale(1);
            width: auto;
        }

        85% {
            opacity: 1;
            transform: scale(1);
            width: 3rem;
        }

        100% {
            opacity: 0;
            transform: scale(0);
        }
    }
}
