@import 'tailwindcss';

@import './modules/core/css/fonts.css';
@import './modules/core/css/utils.css';
@import './modules/core/css/shadcn.css';
@import './modules/core/css/animations.css';

@plugin 'tailwindcss-animate';

@layer base {
    html,
    body {
        height: 100%;
    }

    button,
    a {
        cursor: pointer;
    }

    button {
        user-select: none;
    }

    s {
        font-style: italic;
        text-decoration-thickness: 3px;
        text-decoration-color: rgba(0 0 0 / 0.5);
    }

    #tsparticles {
        pointer-events: none;
    }
}
